<div class="boardmanager" ng-controller="MainController as vmMain">
    <div class="breadcrumbs"><span ng-show="vmMain.boards.length > 0" class="folderName">Boards:</span></div>
    <ul class="data animated">
        <li class="folders" ng-repeat="item in vmMain.boards">
            <a href="#/board/{{item.urlName}}" title="{{item.name}}" class="folders">
                <span class="icon file">QS</span><span class="name">{{item.name}}</span>
                <span class="details">{{item.counters.length}} counters</span>
            </a>
        </li>
    </ul>

    <div ng-show="vmMainvm.boards.length == 0" class="nothingfound">
        <div class="noboard"></div>
        <span>No boards found</span>
    </div>

    <div class="menu-wrapper">
        <div class="smart-view" ng-repeat="view in vmMain.views" ng-show="view.visible" ng-include='view.path' ng-init="cView = view">
            
        </div>
    </div>
</div>