<div data-ng-controller="BoardController as vm">

    <div class="container-fluid board-content animated" style="padding-top:60px">
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-4" ng-repeat="counter in vm.board.counters">
                    <div ng-include="vm.chartTemplate(counter._chart.chartType)"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-wrapper">
        <div class="smart-view" ng-repeat="view in vm.views" ng-show="view.visible" ng-include='view.path' ng-init="cView = view" />   
    </div>
</div>