<div  data-ng-controller="BoardController as vm">

    <div class="container-fluid board-content animated" style="padding-top:60px">
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-4" ng-repeat="counter in vm.board.counters">
                    <div ng-include="vm.chartTemplate(counter._chart.chartType)"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-wrapper">
        <div class="smart-view" ng-repeat="view in vm.views" ng-show="view.visible" ng-include='view.path' ng-init="cView = view"
        />
    </div>
    <a class="left carousel-control qs-carousel" href=""  ng-click="vm.nextBoard('right')" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control qs-carousel" href="" ng-click="vm.nextBoard('left')" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>